.login-page {
  background-color: #bbb;
  min-height: 200px;
  padding-bottom: 45px;
}

.login-page > .header {
  padding: 105px 5px 5px 5px;
}

@media screen and (min-width: 241px) {
  
  .login-page {
    height: 100vh;
  }

}

@media screen and (min-width: 500px) {
  

  .login-page {
    min-height: 200px;
    padding: 30px 15px;
  }

}