.header {
  padding: 25px 5px;
}

.login-page {
  min-height: 200px;
  padding: 30px 15px;
  height: 100vh;
  background-color: #bbb;
}

@media screen and (min-width: 400px) {

  .header { 
    padding: 45px 15px;
  }

  .login-page {
    min-height: 200px;
    padding: 30px 15px;
    
  }

}