* {
  box-sizing: border-box;
}


.landing-page-section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}

.landing-page-section:nth-child(even) {
  background-color: #ddd;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

@media screen and (min-width: 500px) {

  .landing-page-section {
    min-height: 320px;
  }

  .member {
    max-height: 75px;
  }

}