* {
  box-sizing: border-box;
}

body {
  padding-top: 110px;
}

.App {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 500px) {

  body {
    padding-top: 90px;
  }

}