.login-form {
  margin: 0 auto;
  width: 60%;
}

#label, .input {
  width: 100%;
  padding: 5px;
}

#submit {
  background-color: white;
  width: 100%;
  height: 30px;
  font-size: 20px;
  margin-top: 10px;
}


@media screen and (min-width: 760px) {

  .login-form {
    width: 80%;
  } 

  #label, .input {
    /* in order to define widths */
    display: inline-block;
  }

  #label {
    width: 30%; 
    /*positions the #label text beside the #input */
    text-align: right;
  }

  #label + .input {
    width: 30%;
    /* Large margin-right (30%) to force the next element to the new line
       and margin-left to create a gutter (space) between the #label and #input */
    margin: 0 30% 0 4%;
  }

  #submit {
    text-align: center;
    width: 30%;
    height: 25px;
    margin-left: 4%;
  }
  
}