.EntryList {
  width: 100%;
  background-image: url(plank.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.entry-header {
  padding-top: 15px;
}

.entry-main-heading {
  /*font-size: 18px;*/
  font-size: 1em;
}

.add-entry-button {
  margin: 10px 0px;
  width: 50%;
  height: 30px;
}

.EntryList__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}


@media screen and (min-width: 320px) {
  
  .entry-main-heading {
    font-size: 1.17em;
  }
  
  .add-entry-button {
    font-size: 14px;
  }

}


@media screen and (min-width: 500px) {

  .entry-main-heading {
    font-size: 1.5em;
  }
  
}

@media screen and (min-width: 100px) {

  .ENtryList {
    min-height: 100vh;
  }
  
}