.entryContentPage {   /* if this works without style issues on small phones move to global css as a rule */
 height: auto;
}

.alt-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.alt-split {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 20px;
  margin: 0 auto;  /*don't think these last 2 are necessary but need to ask */
  text-align: center;  
}

.alt-left {
  width: 15%;
  background-image: url(plank.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: 1px solid white;
}

.alt-right {
  width: 85%;
  background-image: url(showcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


@media screen and (min-width: 768px) {

  .alt-left {
    width: 10%;
  }
  
  .alt-right {
    width: 90%;
  }

}