.entryContentPage {   /* if this works without style issues on small phones move to global css as a rule */
 height: auto;
}

.alt-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.alt-split {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 20px;
  margin: 0 auto;  /*don't think these last 2 are necessary but need to ask */
  text-align: center;
  
}

.alt-left {
  background-color: #eee;
  width: 15%;
}

.alt-right {
  background-color: #ddd;
  width: 85%;
}

@media screen and (min-width: 500px)

@media screen and (min-width: 768px) {

  .alt-left {
    background-color: #eee;
    width: 10%;
  }
  
  .alt-right {
    background-color: #ddd;
    width: 90%;
  }

}