

.form-section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}

.add-entry-heading {
  font-size: 1.5em;
}

#add-entry-form {
  text-align: center;
}

.entry-title, .entry-text, .journal-selector {
  display: block;
}

#entry-title, textarea, select {
  width: 100%;
  max-width: 500px;
}

select {
  height: 30px;
  background-color: white;
}
 
.add-entry-button {
  height: 30px;
  background-color: white;
}
