.signup-form {
  margin: 0 auto;
  width: 60%;
}

.label, .input {
  width: 100%;
  padding: 5px;
}

.submit {
  background-color: white;
  width: 100%;
  height: 30px;
  font-size: 20px;
  margin-top: 10px;
}



@media screen and (min-width: 500px) {
  
  .signup-form {
    width: 80%;
    margin: 0 auto;
  }

  .label, .input {
    /* In order to define widths */
    display: inline-block;
  }

  .label {
    width: 30%;
    /* Positions the label text beside the input */
    text-align: right;
  }

  .label + .input {
    width: 30%;
    margin: 0 30% 0 4%;
  }


  .submit {
    width: 30%;
    height: 25px;
    margin-left: 4%;
  }

}