
.journalbar-header {
  padding-top: 15px;
}

.journal-heading {
  font-size: 1em;
}

.JournalSidebar__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;

}

.add-journal-button {
  width: 70%;
  height: 30px;
  background-color: white;
}


@media screen and (min-width: 320px) {

  .journal-heading {
    font-size: 1.17em;
  }
  
  .journal {
    font-size: .75em;
  }

  .add-journal-button {
    font-size: 14px;
    width: 85%;
    height: 30px;
  }

  .plus {
    color: white;
    width: 2vw;
  }
  
}

@media screen and (min-width: 500px) {

  .journal-heading {
    font-size: 1.5em;
  }
  
  .journal {
    font-size: 1em;
  }

  .add-journal-button {
    font-size: 14px;
  }
  
}