.entry-heading {
  font-size: 16px;
}

.entry-subheading {
  font-size: 14px;
}

.entry {
  font-size: 14px;
}

.EntryItem {
  padding: 5px;
  background-color: #bbb;
}

.EntryItem:nth-child(even) {
  background-color: #ddd
}

.EntryItem > p {
  margin: 0 auto;
  max-width: 650px;
}

.EntryItem > p + p {
  margin-top: 15px;
}

@media screen and (min-width: 320px) {
  
  .entry-heading {
    font-size: 1.17em;
  }
  
  .entry-subheading {
    font-size: 1em;
  }

  .entry {
    font-size: 16px;
  }
  
  .add-entry-button {
    font-size: 14px;
  }

}

@media screen and (min-width: 500px) {

  .EntryItem {
    min-height: 200px;
    padding: 30px 15px;
  }

  .entry-heading {
    font-size: 1.5em;
  }
  
  .entry-subheading {
    font-size: 1.17em;
  }
  
}