.homepage, .container {
  min-height: 100vh;
}

.homepage-header {
  padding: 12px 10px 1px 10px;
}

.homepage-heading {
  font-size: 1.2em;
}

.container {
  display: flex;
  flex-direction: row;

}

.split {
  margin: 0 auto;
  text-align: center;
}

.left {
  background-color: #eee;
  width: 35%;
}

.right {
  background-color: #ddd;
  width: 65%;
}

@media screen and (min-width: 320px) {
  
  .homepage-heading {
    font-size: 1.35em;
  }

}
