header {
  padding: 25px 5px 5px 5px;
}

.signup-page {
  height: auto;
}

@media screen and (min-width: 241px) {
  header {
    padding: 25px 5px;
  }
  
  .signup-page {
    background-color: #bbb;
    min-height: 200px;
    padding: 30px 15px;
    height: 100vh;
  }
}

@media screen and (min-width: 500px) {

  header {
    padding: 45px 15px;
  }

  .signup-page {
    min-height: 200px;
    padding: 30px 15px;
  }

}
