
@media screen and (min-width: 400px) {

  header {
    padding: 45px 15px;
  }
  
  .signup-page {
    min-height: 200px;
    height: 100vh;
    padding: 30px 15px;
    background-color: #bbb
  }

}
